<div class="card-header bg-danger text-white">
    <h4>Login Form </h4>
</div>

<div class="card card-body">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group ">
            <label for="nm"> Enter Username: </label>
            <input type="text" name="username" [(ngModel)]="username" class="form-control ">
        </div>
        <div class="form-group">
            <label for="ps"> Enter Password: </label>
            <input type="password" name="password" [(ngModel)]="password" id="ps " class="form-control ">
        </div>

        <button type="submit " class="btn btn-danger ">Log In</button>
    </form>
</div>